header {
    background: lightblue;
}
#mainHeader > a {
    color: white;
}
#mainHeader ul li a.active {
    color: white;
}
#mainHeader ul .secondLi ~ li {
    background: red;
}
input[type="email"] {
    color: red;
}
#mainHeader a[href="http"] {
    color: red;
}
